@font-face { font-family: "Feeling Passionate"; src: url('assets/fonts/FeelingPassionateRegular.ttf') } 
@font-face { font-family: "Lovelo"; src: url('assets/fonts/Lovelo/Commercial/TTF/Lovelo-Black.ttf') } 
body {
    font-family: 'Josefin Sans', sans-serif;
    color: #f9f5f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: 'Lovelo', sans-serif;
    font-size: 48px;
    margin: 20px 0;
    color: black;
}
h2 {
    font-family: 'Feeling Passionate', cursive;
    font-size: 38px;
    color: black;
    margin: 20px 0;
}
p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}
iframe {
    width: 100%;
    height: 600px;
    border: 0;
}
.section {
    min-height: calc(100vh - 20vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
  min-height: auto;
  height: 80px;
  width: 100%;
  background-color: #f9f5f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}
.section1 {
    background-color: #f9f5f2;
    background-image: url('./assets/images/Eucalyptus 1.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 130vw;
    margin-top: 80px;
    padding: 0 20px;
}
.section2 {
    background-color: #7D9883;
    display: flex;
    justify-content: space-around;
}
.section3 {
    background-color: #E2725B;
    background-image: url('./assets/images/Daisy.svg'), url('./assets/images/Daisy.svg');
    background-repeat: no-repeat;
    background-position: 100% 190%, -10% -70%;
    background-size: auto 50vh, auto 50vh;
}
.section4 {
    background-color: #FFFFFF;
    min-height: auto;
}
.section5 {
  background-color: #7D9883;
  display: flex;
  justify-content: space-between;
  color: black;
}

.inline-link {
  color: #f9f5f2
}

.inline-link:hover {
  color: #E2725B
}

.section5Text p {
  padding-bottom: 30px;
}

.section6 {
  background-color: #E2725B;
  justify-content: space-evenly;
}

.section6 h2 {
  color: #f9f5f2;
}

.section6 p {
  padding: 10px;
  max-width: 800px;
  text-align: center;
}

.section7 {
    background-color: #f9f5f2;
    color: black;
    justify-content: space-evenly;
}

.section7 .content {
  display: flex;
  flex-direction: column;
}

.section7 .content h2 {
  text-align: center;
}

.section6 li {
  padding: 10px 0px;
}

.section8 {
  background-color: #7D9883;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  min-height: 550px;
  color: black;
}


.section9 {
  background-color: #7D9883;
  display: flex;
  justify-content: flex-start;
  color: black;
}

.header-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 40px;
}
.schedule {
    margin-bottom: 40px;
}
.rsvp-btn {
    background-color: #E2725B;
    color: #f9f5f2;
    font-family: 'Lovelo', sans-serif;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}
.rsvp-btn:hover {
    background-color: #C65348;
}
.date {
    font-family: 'Feeling Passionate', cursive;
    font-size: 38px;
    color: black;
    margin: 0px 0px 20px 0px;
}
.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
.svg-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 40px;
  }

.icon {
    height: 100%;
    width: 100%;
}
.section2 p {
    color: black;
    padding: 20px 0;
}
.section3 h2 {
    color: #f9f5f2;
}

#root-link {
  height: 100%;
}

#logo {
  height: 100%;
}

  #map {
    /* The box that will responsively resize */
    position: relative;
  }
  #map img {
    display: block;
  }
  #map .static {
    /* The static image helps responsively resizing the bounding box correctly */ 
    width: 100%;
    height: auto;
  }

  #map .icon-box {
    /* Placing the icons absolutely and with percentage values makes it responsive within the bounding box */
    position: absolute;
    width: 4vw;
  }

  #map .icon-box img {
    width: 100%
  }

  #map .tooltip {
    font-size: 0.8cqw;
    color: #f9f5f2;
    visibility: hidden;
    margin-bottom: 5px;
  }

  #map .icon-box:hover {
    background-color: #7D9883;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
  }

  #map .icon-box:hover .tooltip {
    visibility: visible;
  }

  #map .icon-box:hover .icon {
    /* filter: invert(59%) sepia(13%) saturate(441%) hue-rotate(81deg) brightness(95%) contrast(93%); my green colour*/
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(313deg) brightness(104%) contrast(102%); 
  }
  
  #map .church {
    top: 62%;
    left: 34%;
  }

  #map .reception {
    top: 66%;
    left: 36%;
  }

  #map .afterparty {
    top: 26%;
    left: 84%;
  }

  #map .mumshouse {
    top: 36%;
    left: 20%;
  }

  #map .ourhouse {
    top: 51%;
    left: 24%;
  }

  #map .whampthameslink {
    top: 29%;
    left: 28%;
  }

  #map .whampjubilee {
    top: 39%;
    left: 32.4%;
  }

  #map .gospeloak {
    top: 26%;
    left: 78%;
  }

  #map .kentishtown {
    top: 27%;
    left: 88%;
  }

  #map .greencroft {
    top: 55%;
    left: 38%;
  }
  
  #menu {
    display: none;
    position: absolute;
    background-color: #E2725B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    top: 0px;
    right: 0px;
    padding-top: 80px;
    border-radius: 5px;
  }
  
  #menu a {
    color: #f9f5f2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #menu a:hover {
    background-color: #C65348;
  }
  
  .header:hover #menu {
    display: block;
  }
  #menu-button {
    z-index: 10;
  }

  .food {
    display: flex;
    flex-wrap: wrap;
  }

  .foodSection {
    border-right: dashed #f9f5f2 1px;
    padding: 0 20px;
    width: 170px;
  }

  #orbox {
    display: flex;
    flex-direction: row;
  }

  #orbox p {
    padding: 0;
  }

  .line {
    border-bottom: solid #f9f5f2 1px;
    height: 10px;
    width: 100%;
    margin: 5px;
  }

#diary-content {
  text-align: left;
  padding: 20px;
  width: calc(100% - 40px);
}

.entry {
  margin-bottom: 40px;
}

#diary-content p {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
}

#dahlia {
  height: 25vh;
  width: 100vw;
  background-image: url('./assets/images/Dahlia.svg');
  background-repeat: no-repeat;
  background-size: auto 55vh;
  background-position: 50% 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#dahlia .rsvp-btn {
  align-self: center;
}